<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @Resource.Layout_AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@RenderSection("syles", required: false)
</head>
<body>
	<div class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
		<div class="container">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">&#x2630;</button>
			@Html.ActionLink(@_19115.Resources.Resource.Layout_AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item">@Html.ActionLink(@Resource.Layout_Menu_Data, "Index", "Home", null, new { @class = "nav-link" })</li>
					<li class="nav-item">@Html.ActionLink(@Resource.Layout_Menu_About, "About", "Home", null, new { @class = "nav-link" })</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>Żródło danych: http://api.um.warszawa.pl</p>
			<p>&copy; @DateTime.Now.Year</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
